<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
<style>
a:visited{
  color:purple;
}
a:link{
  color:blue;
}
</style>
<div class="jumbotron">
  <p class="lead">
    These are some of the things I've been working on.
  </p>
</div>
<div class="row">
  <h3>Viggle</h3>
  <div class="row">
    <div class="col-xs-12 col-sm-7">
    <p class="well">At <a href="http://www.Viggle.com">Viggle</a>, I was the principal engineer in charge of the entire codebase surrounding Viggle Rewards and how they   were served. During my time there I worked with the platform team to implement a 2-factor identification that helped to reduce the number of fraud rewards.</p>
    </div>
    <div class="col-xs-12 col-sm-5">
    <a href="images/viggle_rewards.png"><img class="img-responsive" src="images/viggle_rewards.png" style="height: 500px;"></a>
    </div>
  </div>
</div>
<div class="row">
  <h3>WhoSay</h3>
  <p class="well col-xs-12">At <a href="http://www.whosay.com">WhoSay</a>, my first project was to implement a new design for the landing page.</p>
  <div class="col-xs-5">
  <p>from this</p>
    <a href="images/whosay_before.png"><img class="img-responsive" src="images/whosay_before.png"></a>
  </div>
  <div class="col-xs-2">
    <i class="fa fa-arrow-right" >
    </i> 
  </div>
  <div class="col-xs-5">
  <p>to this</p>
    <a href="images/whosay_after.png"><img class="img-responsive" src="images/whosay_after.png"></a>
  </div>
</div>
