

<div class="jumbotron">
  <p class="lead">
    Aye! I'm working on it!
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>


<div class="row-fluid">
  <h4>Current Technology Trends</h4>
  <p>
    I believe shortening the path to the user is the key to performance. The distance from the server to the client needs to be lessened and I love to work with tools that accomplish this.
  </p>

  <h4>Angular</h4>
  <p>
    A fantastic framework coming at browser problems a bit different than most MVC framework and my personal favorite.
  </p>

  <h4>Karma and Jasmine</h4>
  <p>If you're don't have unit tests then you're just writing bugs. Coupled with Grunt, you have a fantastic toolset with limitless possibilities.</p>
</div>
