<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3>LukeGary.com</h3>
</div>

<div class="jumbotron">
  <p class="lead">
    <img src="images/550px-Dr_Manhattan_symbol.svg.png" style="height: 200px; padding-bottom: 30px;" alt="Dr Manhattan"><br>
    You're here either because you want to see my front-end work or your name is also Luke Gary and you're jealous.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>Current Technology Trends</h4>
  <p>
    I believe shortening the path to the user is the key to performance. The distance from the server to the client needs to be lessened and I love to work with tools that accomplish this.
  </p>

  <h4>Angular</h4>
  <p>
    A fantastic framework coming at browser problems a bit different than most MVC framework and my personal favorite.
  </p>

  <h4>Karma and Jasmine</h4>
  <p>If you're don't have unit tests then you're just writing bugs. Coupled with Grunt, you have a fantastic toolset with limitless possibilities.</p>
</div>

<div class="footer">
  <p>Copyright © 2014 Luke Gary</p>
</div>
